<h1>Products </h1>
<%= link_to "Add a new product", "/products/new" %>
<% @products.each do |product| %>
<div class="product_list">
  <p>Name: <%= link_to product.name, "/products/#{product.id}" %></p>
  <p>Description: <%= product.description %></p>
  <p>Price($): <%= product.formatted_price %></p>
  <%= link_to 'Edit', "/products/#{product.id}/edit" %>
  <%= link_to 'Delete', "/products/#{product.id}", method: :delete, confirm: "Are you sure you want to delete #{product.name}?" %>
</div>
<% end %>
</div>

